<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Selamat Datang</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg bg-dark p-2">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="">Prediksi Investasi Saham - Data Mining</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            </div>
            
            <a class="btn btn-danger" href="/keluar"><b>Keluar</b></a>
          </div>
        </div>
      </nav>
      <!-- navbar end -->


      <!-- content start -->
    
    <div class="content">
        <div class="card m-4 justify-content-center mb-4 ">
            <div class="card-body m-3">
            <h2>Data Mining</h2>
            <p>
                Data Mining adalah proses penggalian informasi yang berharga dari kumpulan data yang besar
                dan kompleks. <br>
                Tujuan Utama Data Mining adalah 
                <ul>
                    <li><b>Menentukan pola :</b>Mengidentifikasi pola-pola tersembunyi dalam data yang mungkin
                    tidak terlihat secara kasat mata</li>
                    <li><b>Membuat Prediksi :</b>Memprediksi kejadian di masa depan berdasarkan data historis</li>
                    <li><b>Mengklasifikasikan Data :</b>Membagi data menjadi kelompok-kelompok yang berbeda 
                    berdasarkan karakteristik</li>
                    <li><b>Menemukan hubungan antar data :</b>Mengidentifikasi hubungan antar variabel-variabel yang berbeda</li>
                </ul>
            </p>
            <p>
                Aplikasi ini dirancang untuk membantu investor mengambil sebuah keputusan
                investasi saham yang lebih baik dengan memanfaatkan kekuatan data mining. Melalui
                algoritma clustering, aplikasi ini mengelompokkan saham-saham berdasarkan karakteristik
                serupa, sehingga investor dapat dengan mudah mengidentifikasi peluang investasi
                yang sesuai dengan profil risiko dan tujuan investasi mereka. 
            </p>
            <p>
                Aplikasi ini menggunakan teknik data mining untuk menganalisis sejumlah besar data 
                historis pasar saham. Dengan menerapkan algoritma clustering, aplikasi ini mampu
                mengidentifikasi pola-pola tersembunyi dalam data dan mengelompokkan saham-saham menjadi 
                beberapa cluster. Setiap cluster mewakili sekumpulan saham dengan karakteristik yang serupa,
                seperti kinerja keuangan, bolatilitas, dan sektor industri. 
            </p>
            
        </div>
    </div>

    <div class="content">
        <div class="card m-4">
            <div class="card-body m-3">
                <h2>Identitas Pembuat</h2>
                <div class="info">
                    <div class="img">
                        <img src="img/surya.JPG" alt="">
                    </div>
                    <table class="table table-borderless">
                        <tr>
                            <td>Nama </td>
                            <td> : </td>
                            <td>I Made Surya Mahardika Karang</td>
                        </tr>
                        <tr>
                            <td>NIM </td>
                            <td> : </td>
                            <td>2255201011</td>
                        </tr>
                        <tr>
                            <td>Program Studi </td>
                            <td> : </td>
                            <td>Teknik Informatika</td>
                        </tr>
                        <tr>
                            <td>Instansi/Perguruan Tinggi </td>
                            <td> : </td>
                            <td>Universitas Triatma Mulya PSDKU Jembrana</td>
                        </tr>
                        <tr>
                            <td>Judul Projek Akhir</td>
                            <td> : </td>
                            <td>Sistem Pendukung Keputusan Investasi Saham 
                                Berbasis Data Mining dengan Model Clustering
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="tombol m-4 d-flex justify-content-center align-items-center">
            <a class="btn btn-primary" href="uji-coba.html">Mulai Uji Coba</a>
        </div>

    </div>




    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>